@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@font-face {
  font-family: "Carvist";
  src: url("../assets/fonts/TT-Carvist-Trial-Bold.woff") format("woff");
  font-weight: 700; /* обычный */
  font-style: normal;
}

@font-face {
  font-family: "Carvist";
  src: url("../assets/fonts/TT-Carvist-Trial-DemiBold.woff") format("woff");
  font-weight: 600; /* жирный */
  font-style: normal;
}

@font-face {
  font-family: "Carvist";
  src: url("../assets/fonts/TT-Carvist-Trial-Light.woff") format("woff");
  font-weight: 300; /* жирный */
  font-style: normal;
}

@font-face {
  font-family: "Carvist";
  src: url("../assets/fonts/TT-Carvist-Trial-Medium.woff") format("woff");
  font-weight: 500; /* жирный */
  font-style: normal;
}

@font-face {
  font-family: "Carvist";
  src: url("../assets/fonts/TT-Carvist-Trial-Regular.woff") format("woff");
  font-weight: 400; /* жирный */
  font-style: normal;
}
